{% extends "essential_events_main/base.html" %}
{% load static %}

{% block title %}
    Essential Events - Acts Gallery
{% endblock %}

{% block content %}
    <h2>Search our fantastic artists here</h2>
    <section class="actGallerySection">
        <div class="actGallery">
            <div class="actGalleryCard">
                <h3>Singer 1</h3>
                <p>Some content here</p>
            </div>
            <div class="actGalleryCard">
                <h3>Singer 2</h3>
                <p>Some content here</p>
            </div>
            <div class="actGalleryCard">
                <h3>Singer 3</h3>
                <p>Some content here</p>
            </div>
            <div class="actGalleryCard">
                <h3>Singer 4</h3>
                <p>Some content here</p>
            </div>
            <div class="actGalleryCard">
                <h3>Singer 5</h3>
                <p>Some content here</p>
            </div> 
            <div class="actGalleryCard">
                <h3>Singer 1</h3>
                <p>Some content here</p>
            </div>
            <div class="actGalleryCard">
                <h3>Singer 2</h3>
                <p>Some content here</p>
            </div>
            <div class="actGalleryCard">
                <h3>Singer 3</h3>
                <p>Some content here</p>
            </div>
            <div class="actGalleryCard">
                <h3>Singer 4</h3>
                <p>Some content here</p>
            </div>
            <div class="actGalleryCard">
                <h3>Singer 5</h3>
                <p>Some content here</p>
            </div> 
        </div>
    </section>
{% endblock %}